@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto&display=swap");

/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.global-container {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-columns: repeat(auto-fit, minmax(360px, auto)); */
  justify-items: stretch;
  align-items: center;
  padding: 40px 30px;
}

.form-image {
  place-self: center;
  width: 100%;
  max-width: 872px;
}

/* Form layout with flexbox */
/* .form-wrapper {
  padding: 47px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
} */

/* //////////////////////////////////////
Form fields
////////////////////////////////////// */
.form-wrapper {
  padding: 47px 80px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  justify-content: center;
  align-items: start;
  align-content: start;
}

.horizontal-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}

.horizontal-divider__line {
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 19, 0.2);
  flex-shrink: 4;
}

.horizontal-divider__text {
  text-align: center;
  flex-shrink: 1;
}

.form__input {
  font-size: 16px;
  line-height: 22px;
  color: #111113;
  padding: 13px 16px;
  border: 1px solid rgba(17, 17, 19, 0.2);
  border-radius: 4px;
}

.form__input:focus {
  border: 1px solid #111113;
  box-shadow: 0px 0px 5px 1px #757575;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.custom-form-label-date {
  position: relative;
}

.form__input--date {
  width: 100%;
  /* padding-inline-start: 0; */
}

.form__input--date[type="date"]::-webkit-inner-spin-button,
.form__input--date[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  background-color: transparent;
  opacity: 0;
  z-index: 1;
}

.svg-calendar {
  width: 22px;
  position: absolute;
  right: 16px;
  top: 15px;
}

/* Styles the first (disabled) select option in the same 
color as the other placeholders */
.input__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(./assets/svg/Arrow_Down.svg);
  background-repeat: no-repeat;
  background-position: right 16px top 15px, 0 0;
}

.input__select,
.input__select option {
  color: #111113;
}

.input__select:invalid,
.input__select option[value=""] {
  color: #757575;
}

/* ///////////////////////////////////
Buttons
/////////////////////////////////// */
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.button:hover {
  border: 2px solid #d7503f;
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

.button--icon {
  display: flex;
  align-content: center;
  column-gap: 6px;
}

.button--sign-in-with-google {
  background-color: #d7503f;
}

.button--join {
  margin-bottom: 16px;
}

.button:active {
  background-color: #d7503f;
  color: #fff;
}

.button__icon {
  fill: currentColor;
}

/* //////////////////////////////
Already a member? Sign in section
////////////////////////////// */
.sign-in__already-member {
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 19, 0.6);
  justify-self: center;
}

.sign-in__link,
.sign-in__link:visited {
  color: #000;
  text-decoration: underline;
}

.sign-in__link:hover {
  color: #d7503f;
}

/* /////////////////////////////////////// 
Custom radio buttons and checkmarks 
////////////////////////////////////////*/
/* Containers */
.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  justify-content: space-between;
  row-gap: 8px;
}

.custom-input-container {
  display: flex;
  align-content: center;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Radio buttons */
.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #f9dada;
  border-radius: 50%;
}

.custom-input-container:hover .radio-checkmark {
  background-color: #d7503f;
}

.radio-input:checked ~ .radio-checkmark {
  background-color: #d7503f;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-checkmark:after {
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

/* Checkboxes */
.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}

.custom-input-container:hover .checkbox-checkmark {
  background-color: #f9dada;
}

.checkbox-input:checked ~ .checkbox-checkmark {
  background-color: #d7503f;
}

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-input:checked ~ .checkbox-checkmark:after {
  display: block;
}

.checkbox-checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* /////////////////////////////////////
Media queries
///////////////////////////////////// */
@media screen and (max-width: 1200px) {
  .global-container {
    grid-template-columns: auto;
  }

  /* .form-image,
  .form-wrapper {
    grid-column: 1 / -1;
  } */

  .form-image {
    width: auto;
    max-height: 500px;
  }
}
