@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto&display=swap");

/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.global-container {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-columns: repeat(auto-fit, minmax(360px, auto)); */
  justify-items: stretch;
  align-items: center;
  padding: 40px 30px;
}

.form-image {
  place-self: center;
  width: 100%;
  max-width: 872px;
}

/* Form layout with flexbox */
/* .form-wrapper {
  padding: 47px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
} */

.form-wrapper {
  padding: 47px 80px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  justify-content: center;
  align-items: start;
  align-content: start;
}

@media screen and (max-width: 1200px) {
  .form-image,
  .form-wrapper {
    grid-column: 1 / -1;
  }

  .form-image {
    width: auto;
    max-height: 500px;
  }
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.button:hover {
  border: 2px solid #d7503f;
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

.button--sign-in-with-google {
  background-color: #d7503f;
}

.button--join {
  margin-bottom: 16px;
}

.button--join:active {
  background-color: #d7503f;
  color: #fff;
}

.horizontal-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}

.horizontal-divider__line {
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 19, 0.2);
  flex-shrink: 4;
}

.horizontal-divider__text {
  text-align: center;
  flex-shrink: 1;
}

.form__input {
  font-size: 16px;
  line-height: 24px;
  color: #111113;
  padding: 13px 16px;
  border: 1px solid #111113;
  border-radius: 4px;
}

.form__label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
  justify-content: space-between;
}

.sign-in__already-member {
  font-size: 16px;
  line-height: 22px;
  color: rgba(17, 17, 19, 0.6);
  justify-self: center;
}

.sign-in__link,
.sign-in__link:visited {
  color: #000;
  text-decoration: underline;
}

.sign-in__link:hover {
  color: #d7503f;
}
